In [ ]:
a=5
b='Hello'

#Print Class Type of a and b
print('type a:',type(a),'\ntype b:',type(b))

type a: <class 'int'>
type b: <class 'str'>

In [ ]:
#Take 2 num as input(like cin>> in C++) and swap them without using third variable
num1=int(input())
num2=int(input())
num1,num2=num2,num1
print(num1,num2)

1
2
2 1

Print <br> a. length of string <br> b. Indian Institute of Technology

In [ ]:
string='Indian Institute of Technology Bombay'

print(len(string))
print(string[:30])

37
Indian Institute of Technology

In [ ]:
List=[9,10,11,12,13,14,'a','b']
#add 'c' & 5 to the list
#remove 5th element from the list
#print List elements from 2nd index to 7th

[9, 10, 11, 12]

Print <br>a. Hello (using x,y,z)<br>b. He#ll#o (use sep in python ðŸ˜º) 

---

In [ ]:
x='He'
y='ll'
z='o'

#a
print(x,y,z,sep='')
#or
print(x+y+z)

#b
print(x,y,z,sep='#')

Hello
Hello
He#ll#o

Create a list of tuples from given list having number and its cube in each tuple
<br> eg Input: list = [1, 2, 3]<br> Output: [(1, 1), (2, 8), (3, 27)]

In [ ]:
Input = [1, 2, 5, 6]
Output = [(val, pow(val, 3)) for val in Input]
print(Output)

[(1, 1), (2, 8), (5, 125), (6, 216)]

Find the sum of all items in a dictionary <br>eg
Input : {â€˜aâ€™: 100, â€˜bâ€™:200, â€˜câ€™:300}<br>
Output : 600

In [ ]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list
def UniqueList(MyList):
  UL = []
  for i in MyList:
    if i not in UL:
      UL.append(i)
  return UL

My_List=[1,2,3,3,3,4,5,4,6,7,5] 
print(UniqueList(My_List))

[1, 2, 3, 4, 5, 6, 7]

Create a function giving max and min K elements in Tuple.<br> Input:(3, 7, 1, 18, 9), k = 2 <br>
Output : (3, 1, 9, 18)

Create a list starting from 100 with elements less than 400 and difference between elements is 3 eg.[100,103,...,298]

In [ ]:
My_List= []
for i in range(100,300,3):
   My_List.append(i)
print(My_List)

[100, 103, 106, 109, 112, 115, 118, 121, 124, 127, 130, 133, 136, 139, 142, 145, 148, 151, 154, 157, 160, 163, 166, 169, 172, 175, 178, 181, 184, 187, 190, 193, 196, 199, 202, 205, 208, 211, 214, 217, 220, 223, 226, 229, 232, 235, 238, 241, 244, 247, 250, 253, 256, 259, 262, 265, 268, 271, 274, 277, 280, 283, 286, 289, 292, 295, 298]

Write lambda function to multiply two num

In [ ]:
z= lambda x,y: x*y
print(z(2,3))

6

Count the number of even and odd numbers in tuple.

In [ ]:
numbers = (1, 2, 3, 4, 5)
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 2
Number of odd numbers : 3

Write a Python program that prints all the numbers from 0 to 10 except 3,6 and 7.

In [ ]:
for x in range(10):
    if (x == 3 or x==6 or x==7):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5 8 9